[Unit]
Description = todo Service
[Service]
User=root
Type=simple
Environment=REDIS_API_ADDRESS=172.91.18.171:8080
ExecStart=/bin/node /home/todo/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target
